<template name="middle">
	<div class="sheet">
	    <div class="sheet--padding" style="">
	      <div class="container">
	  		<div class="clearfix xs-margin-bottom-large">
	  			<a href="/projects/work_with/16994" class="js-tooltip" data-toggle="tooltip" title="" data-original-title="Start your project today and work with Ganda!">
	  			    <img src="/img/example-projects/web/cfe.png" alt="CFE by Ganda" class="img-responsive">
	  		    </a>
	  		</div>
			
	  		<div class="clearfix xs-margin-top-small sm-margin-top-small md-margin-top-small">
	  			<div class="pull-left">
	  			    <h2 class="weight--normal epsilon text-primary xs-margin-null sm-margin-bottom-small">CFE</h2>
	  			    <h4 class="eta text-heading text-tertiary xs-margin-null">$1,600, Web Design</h4>
	  		    </div> <!-- close .pull-left -->
			</div>
		    <div class="sheet sheet--padding" style="">
		       <div class="container">
		         <div class="row">
		           <div class="col-sm-4 col-md-5 hidden-xs">
		               <img src="/img/submit-project.png" alt="Reach 1000 professional freelancers in 48 hours." class="img-responsive">
		           </div> <!-- close .col -->
		           <div class="col-sm-8 col-md-7">
		             <h2 class="gamma text-primary text-heading">Only the best</h2>
		             <div class="content--large">
		               <p class="text-secondary weight--normal">Find the best pre-screened, handpicked developers and designers.</p>
		               <ul class="text-secondary content">
		                 <li><p>Easy submission - we help you fill in the blanks</p></li>
		                 <li><p>The best applicants - we match you with the right talent</p></li>
		                 <li><p>Fast - our pros are ready to start today</p></li>
		                 <li><p>Safety - secure payments and a money-back guarantee</p></li>
		               </ul>
		             </div> <!-- close .content -->
		           </div> <!-- close .col -->
		         </div> <!-- close .row -->
		       </div> <!-- close .container -->
		     </div> <!-- close .sheet -->
	        <div class="text-center md-margin-bottom">
		          <h3 class="epsilon text-heading text-primary xs-margin-null md-margin-bottom-small">Learn from the best</h3>
		          <div class="content--large md-padding-horizontal-large">
		            <p class="xs-margin-null xs-margin-vertical sm-margin-bottom-large md-margin-bottom-small md-padding-horizontal-large">Find out how other companies took their products to the next level by using ooomf’s handpicked developers and designers to build amazing products.</p>
		          </div> <!-- close .content -->
		    </div> <!-- close .text-center -->
 	        <div class="row text-center">
 	            <a href="/stories/" class="btn btn-default" title="Stories of projects completed on ooomf">View Stories</a>
 	        </div> <!-- close .row -->
	  	  <div class="sheet sheet--light sheet--padding" style="">
	  	    <div class="container">

	  	     	 <div class="text-center md-margin-bottom">
	  	     		<h3 class="epsilon text-heading text-primary xs-margin-null md-margin-bottom-small">Find your inspiration</h3>
	  	      	  <div class="content--large md-padding-horizontal-large">
	  	          <p class="xs-margin-null xs-margin-vertical md-padding-horizontal-large">Find the professional you want to work with based on their popular past projects. We'll connect you within 48 hours and help you get your project setup.</p>
	  	        </div> <!-- close .content -->
	  	      	</div> <!-- close .text-center -->
			</div>
		</div>
			    <div class="pull-right">
				    <h5 class="beta xs-margin-null"><a href="http://www.fashion-enterprise.com/" title="CFE — View this project" target="_blank"><span class="icon icon-external" aria-hidden="true"></span></a></h5>
			    </div> <!-- close .pull-right -->
		 <div class="col-xs-12 col-sm-6 col-md-4">
		     <div class="clearfix xs-margin-bottom-large sm-margin-top-large md-margin-bottom-large">
			<div class="clearfix xs-margin-bottom-large">
				<a href="/projects/work_with/17383" class="js-tooltip" data-toggle="tooltip" title="" data-original-title="Start your project today and work with Tiny F!">
				    <img src="/img/example-projects/mobile/word-rage.png" alt="Word Rage by Tiny F" class="img-responsive">
			    </a>
			</div>
		</div>
	</div>
		<div class="clearfix xs-margin-bottom-large">
			<a href="/projects/work_with/17522" class="js-tooltip" data-toggle="tooltip" title="" data-original-title="Start your project today and work with Mobile I!">
			    <img src="/img/example-projects/web/marvel.png" alt="Marvel by Mobile I" class="img-responsive">
		    </a>
		</div>

		<div class="clearfix xs-margin-top-small sm-margin-top-small md-margin-top-small">
			<div class="pull-left">
			    <h2 class="weight--normal epsilon text-primary xs-margin-null sm-margin-bottom-small">Marvel</h2>
			    <h4 class="eta text-heading text-tertiary xs-margin-null">$3,000, Web Design</h4>
		    </div> <!-- close .pull-left -->
	  	      	<div class="row hidden-xs">
	  				<div class="col-xs-12 col-sm-6 col-md-4">
	  	         	 	<div class="clearfix xs-margin-bottom-large sm-margin-top-large md-margin-bottom-large"></div>
	  			 	 </div>
	  			 </div>
			 </div>
 	        <div class="relative md-margin-top-large hidden-xs">
 	          <div class="hidden-sm" style="height: 350px;"></div>
 	          <div class="hidden-md" style="height: 280px;"></div>
 	          <a href="/stories/" title="Stories of projects completed on ooomf">
 	            <img src="/img/homepage-stories.jpg" alt="Projects built on ooomf" class="img-responsive" style="position: absolute; bottom: -100px;">
 	          </a>
 	        </div> <!-- close .relative -->
		    <div class="pull-right">
			    <h5 class="beta xs-margin-null"><a href="http://www.marvelapp.com/" title="Marvel — View this project" target="_blank"><span class="icon icon-external" aria-hidden="true"></span></a></h5>
		    </div> <!-- close .pull-right -->
	<!-- close .clearfix -->
 			</div><!-- close .md-margin-bottom -->    
		</div>
	</div>

</template>