<template name="overview">
	<div class="sheet__heading text-center">
		<h3 class="giga text-heading-alt text-primary xs-margin-null xs-margin-bottom-small sm-margin-bottom-small md-margin-bottom-small">Matching you with the best Project Managers</h3>
		<div class="content--large xs-margin-bottom-large md-margin-bottom-large">
			<p class="weight--normal xs-margin"> Our Managers are the best at what they specialized and are handpicked based on past success rates. So what are you waiting for.
				</p>
				<a href="/project_manager/start" class="btn btn-default">Find your PM</a>
		</div>
	</div>
</template>