<template name="addform">
	<div id="example" class="modal hide fade in">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">x</a>
			<h3> Add Article </h3>
		</div>
		<div class="modal-body">
			<label for="title">Title</label>
			<input class="title" type="text" id="title">
			<label for="description">Description</label>
			<input class="description" type="text" id="description">
			<label for="file">File</label>
			<input class="src input-x-large" type="text"  name="file" id="file">
			<label for="created">Created</label>
			<input class="created" type="text" id="created">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-success">Save</a>
			<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		</div>
	</div>
</template>