<template name="newProfile">
	<div class="row">
			      <div class="col-md-6 col-md-offset-3">
			        <div class="well well-sm">
	<form class="form-group">
		<div class="form-horizontal">
			<label class="control-label" for="name">Name  </label>
			<input name="name" type="text" value="" placeholder="fullname"/>
		</div>
		<div class="form-horizontal">
			<label class="control-label" for="price">Price  </label>
			<input name="price" type="text" value="" placeholder="price"/>
		</div>
		<div class="form-horizontal">
			<label class="control-label" for="address">Address  </label>
			<input name="address" type="text" value="" placeholder="address">
			
		</div>
		<div class="form-horizontal">
			<label class="control-label" for="experience">Experience</label>
			<input name="experience" type="text" value="" placeholder=""/>

		</div>
		<div class="form-horizontal">
			<label class="control-label" for="education">Education</label>
			<input name="education" type="text" value="" placeholder=""/>
		</div>
		<div class="form-horizontal">
			<label class="control-label" for="background">Background</label>
			<div class="controls">
				<textarea name="background" type="text" value=""></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				
				<input type="submit" value="Submit" class="btn btn-primary" />
			</div>
			
		</div>
 	</form>
	</div>
	</div>
	</div>
</template>